

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;


    nav {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 10;
        color: var(--lightShades);
        width: 80%;



        ul {
            
            display: flex;
            list-style: none;
            margin: auto;

            li{
                margin: 0 20px;
                padding: 5px 15px;
                font-size: 1.5rem;
                font-weight: 600;
                border-radius: 20px;
                cursor: pointer;

                &:first-child{
                    background-color: var(--lightShades);
                    color: var(--mainColor);
                }

                @media screen and (max-width:850px) {
                    font-size: 1rem;
                    margin: 0 5px;
                }
            }           

            

            h2 {
                font-size: 3rem;

                @media screen and (max-width:850px) {
                    display: none;
                }
            }    
        }
    }

    #parallaxContainer{
        position: relative; 
        background: var(--sunset);
        width: 100%;
        max-height: 100vh;
        aspect-ratio: 16/9;
        left: 0;

        .parallaxLayer {
            position: absolute;
            height: 100%;
            width: 100%;
            
        }

        h1{
            color: var(--lightShades);
            font-size: 3rem;
            top: 20%;
            text-align: center; 

            @media screen and (max-width:850px) {

                font-size: 1.5rem;
                right: 5%;

                
            }
        }       
    }
}